/* Theme: Tokyo Night (Day) */
@Define-color bg #e1e2e7;
@define-color bg-highlight #c4c8da;
@define-color blue #2e7de9;
@define-color fg #3760bf;
@define-color fg-dark #6172b0;
@define-color green #587539;
@define-color orange #b15c00;
@define-color red #f52a65;


/* Theme: Lauds */
/* @define-color bg #f0efeb; */
/* @define-color bg-highlight #e0dcd4; */
/* @define-color blue #5a6b7a; */
/* @define-color fg #1a1d21; */
/* @define-color fg_highlight #4a4d51; */
/* @define-color green #5a6b5a; */
/* @define-color orange #7a6d5a; */
/* @define-color red #8b6666; */
